pkgbase = lgx-runtime
	pkgdesc = High-performance deterministic runtime for Linux gaming
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/lgx-platform/LGX
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = vulkan-headers
	makedepends = pkgconf
	depends = glibc
	depends = vulkan-icd-loader
	depends = jemalloc
	provides = lgx-runtime
	conflicts = lgx-runtime-git
	source = lgx-runtime-1.0.0.tar.gz::https://github.com/lgx-platform/LGX/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = lgx-runtime
